<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.seckill.mapper.TGoodsMapper">

    <resultMap id="BaseResultMap" type="org.example.seckill.pojo.TGoods">
            <id property="id" column="id" />
            <result property="goodsName" column="goods_name" />
            <result property="goodsTitle" column="goods_title" />
            <result property="goodsImg" column="goods_img" />
            <result property="goodsDetail" column="goods_detail" />
            <result property="goodsPrice" column="goods_price" />
            <result property="goodsStock" column="goods_stock" />
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_name,goods_title,goods_img,goods_detail,goods_price,
        goods_stock
    </sql>

    <select id="findGoodsVo" resultType="java.lang.Object">
        SELECT
            t_goods.id,
            t_goods.goods_name,
            t_goods.goods_title,
            t_goods.goods_img,
            t_goods.goods_detail,
            t_goods.goods_price,
            t_goods.goods_stock,
            t_seckill_order.user_id,
            t_seckill_order.order_id
        FROM
            t_goods
        LEFT JOIN t_seckill_order ON t_goods.id = t_seckill_order.goods_id
    </select>
</mapper>
