<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.seckill.mapper.TSeckillGoodsMapper">

    <resultMap id="BaseResultMap" type="org.example.seckill.pojo.TSeckillGoods">
            <id property="id" column="id" />
            <result property="goodsId" column="goods_id" />
            <result property="seckillPrice" column="seckill_price" />
            <result property="stockCount" column="stock_count" />
            <result property="startDate" column="start_date" />
            <result property="endDate" column="end_date" />
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_id,seckill_price,stock_count,start_date,end_date
    </sql>
</mapper>
